<h1>Editando processo</h1>
<%= render 'form', processo: @processo %>
<br/>
<div class="btn-group">
    <%= link_to 'Mostrar', @processo, class: 'btn btn-secondary btn-outline-dark' %>
    <%= link_to 'Voltar', processos_path, class: 'btn btn-secondary btn-outline-danger' %>
</div>
